<html></html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1 viewport-fit=cover, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <style>
      body {
        background-color: white;
        margin: 0 auto;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        height: 100vh;
      }
      #bp-web-widget-container {
        max-height: 90%;
        width: 481px;
        margin: auto;
        flex-grow: 1;
      }
      #bp-web-widget-container div {
        height: 100%;
      }
      .webchatIframe {
        position: relative !important;
      }
    </style>
    <title>Lexie</title>
  </head>
  <body>

  <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script>
  window.botpressWebChat.init({
      "composerPlaceholder": "Type here!",
      "botConversationDescription": "Chat Now!",
      "botId": "49caf6c2-b776-424e-be64-ece587c8588c",
      "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
      "messagingUrl": "https://messaging.botpress.cloud",
      "clientId": "49caf6c2-b776-424e-be64-ece587c8588c",
      "webhookId": "e13b14ba-ada0-410b-ab69-1045038e1506",
      "lazySocket": true,
      "themeName": "galaxy",
      "botName": "Lexie",
      "frontendVersion": "v1",
      "showBotInfoPage": true,
      "enableConversationDeletion": true,
      "theme": "galaxy",
      "themeColor": "#000000",
      "allowedOrigins": [],
      "hideWidget": true,
      "disableAnimations": true,
      "closeOnEscape": false,
      "showConversationsButton": false,
      "enableTranscriptDownload": false,
      "className": "webchatIframe",
      "containerWidth": "100%25",
      "layoutWidth": "100%25",
      "showCloseButton": false
  });
window.botpressWebChat.onEvent(function () { window.botpressWebChat.sendEvent({ type: 'show' }) }, ['LIFECYCLE.LOADED']);
</script>

  </body>
</html>